<br />

<div class="booyah-box col-10 offset-1">
  <h1 class="text-center">Nutritional Information</h1>
  <hr />

  <% @foods.each do |food| %>
    <h2 class="text-center"><%= food.food_type %></h2>
  <% end %>
</div>
