<br />

<div class ="booyah-box col-10 offset-1">

	  <h1 class="text-center">Cart</h1>
	    <hr class="style7">
	<% @cart.cart_items.each do |cart_item| %>
	
		<p><%= cart_item.menu_item.name %></p>
		<p><%= cart_item.menu_item.description %></p>
		<span><%= number_to_currency(cart_item.menu_item.price) %></span>
	
	
	<% end %>

		<span>Total: <%= number_to_currency(cart_item.menu_item.total) %></span>

</div>