<br />
<div class="booyah-box col-10 offset-1">
  <h1 class="text-center">Nutritional Information</h1>
  <hr />
  <br />
  <br />
  <% @food_type.each do |food_type| %>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-12">
        <h2><%= link_to food_type.name, food_type_path(food_type) %></h2>
      </div>
    </div>
  </div>
    <% food_type.foods.each do |food| %>
      <%= food.name %>
    <% end %>
  <% end %>

</div>








