@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Mogra');


.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.booyah-box h2, .booyah-box h1 {
  
  margin: 10px;
}

 h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
  paddin: 0;
}

#flex-content-container {
  margin-top: 0;
  flex-direction: row-top;
}



.navbar .navbar-inverse {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('black-linen.png');
  
  }

 
h1 {
  margin-top: 0;
}


  .navbar-nav > li >a{
  color: white;
}


.navbar-inverse a.navbar-brand {
  
  font-family: 'Mogra', cursive;
  font-weight: 100;
  color: white;
  font-size: 50px;
  
}



ul {
  list-style-type: none;
}



.btn {
  border-radius: 0;
}




.name {
  
  margin-left: 100px;
}


.hours {
  
  font-style: italic;
}

body {
  background: image_url('fabric_of_squares_gray_@2X.png');
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a 
> img {
  max-height: 700px;
    width: 100%;
}

.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-bottom: 40px;
  position: absolute;
  left: 0;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}

.clr {
  clear: both;
}

.about {
  
  text-align: center;
}

.btn-primary {
    background: #0099cc;
    color: #000;

}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.take_out {
  
  text-align: center;
}