@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Mogra');


.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}



h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
  
}

body {
  background: image_url('fabric_of_squares_gray_@2X.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.links {
  
  margin-right: 0 !important;
}

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('black-linen.png');
  
  
  }

.navbar-inverse a.navbar-brand {
  
  font-family: 'Mogra', cursive;
  font-weight: 100;
  color: white;
  font-size: 50px;
  
}

ul.nav li a, ul.nav li a:visited {
    color: #white !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #white !important;
}

ul.nav li.active a {
    color: #white !important;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}
 


 .address {
  
  color: white;
}

.welcome {
  
  color: white;
}

ul {
  list-style-type: none;
  margin-top: 0;
   margin-bottom: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

p {
  margin: auto;
}


.btn {
  border-radius: 0;
}




.name {
  
  margin-left: 100px;
}


.hours {
  
  font-style: italic;
}




.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a 
> img {
  max-height: 700px;
    width: 100%;
}

.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-bottom: 40px;
  position: absolute;
  left: 0;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}

.clr {
  clear: both;
}

.about {
  
  text-align: center;
}

.btn-primary {
    background: #0099cc;
    color: #000;

}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.take_out {
  
  text-align: center;
}

.menu_item {
  
  margin-bottom: 50px;
}

.menu_description {
  
  padding-top: 100px;
  padding-left: 70px;
}

.buttons {
  margin-top: 50%;
  padding-left: 50%;
}

.menu-image {
  
  margin-top: 10px;
  margin-left: 30px;
}



hr.style7 {
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
}

.day {
  
  margin-bottom: 20px;

}

.hour {
  margin-bottom: 20px;

}

.dash {
  margin-bottom: 20px;

}

.time {
  
margin-bottom: 20px;
}


a.nav-link {

color: white;
 }
