@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Mogra');

.navbar {
	background: image_url('black-linen.png');
}
.navbar-inverse .navbar-brand {
	
	font-family: 'Mogra', cursive;
	font-size: 50px;
	
}
